[user]
    name = Gary Bernhardt
    email = gary.bernhardt@gmail.com
[diff]
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    head = !git l -1
    h = !git head
    r = !git --no-pager l -20
    ra = !git r --all
    ff = merge --ff-only
    pullff = pull --ff-only
    noff = merge --no-ff
    l = log --graph --abbrev-commit --date=relative 
    la = !git l --all
    div = divergence
    gn = goodness
    gnc = goodness --cached
    fa = fetch --all
    pom = push origin master
    b = branch

[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[merge]
    tool = vimdiff

