!/Library/AppleScripts
!/Library/KeyBindings
*.DS_Store
*.elc
*.orig
*.pyc
*.rej
*~
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.account
/.bash_history
/.bazaar
/.bi_li3
/.bugs_everywhere
/.bundle
/.bzr.log
/.cabal
/.cache
/.ccache
/.certs
/.config
/.cups
/.dropbox
/.dropbox-master
/.dvdcss
/.ebooksrc
/.ec2
/.emacs-places
/.emacs.bak
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.freemind
/.gdb_history
/.gem
/.getmail/gmail.log
/.getmail/oldmail-pop.gmail.com-995-gary.bernhardt@gmail.com
/.ghc
/.gnupg
/.god
/.heroku
/.hg.cvsps
/.hgk
/.history
/.history.436tlA
/.hoe_template
/.hudson
/.ipython
/.irb-history
/.irb_history
/.lesshst
/.local
/.localized
/.macports
/.mutt/aliases
/.mutt/cache
/.mutt/certificates
/.mysql_history
/.netrc
/.npm
/.offlineimap
/.pip
/.psql_history
/.pypirc
/.python-eggs
/.python_history
/.rbenv
/.rbx
/.rnd
/.rubies
/.rubinius_last_error
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.ssl
/.thelongpoll
/.toot
/.tox
/.trc
/.vim-fuf-data
/.vim-tmp
/.vim/.netrwhist
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.viper
/.wine
/.wireshark
/.wireshark-etc
/.zcompdump
/Desktop
/Documents
/Downloads
/Dropbox
/Gmail
/Library/*
/Movies
/Music
/Pictures
/Public
/Sites
/bin/rvm
/bin/rvm-auto-ruby
/bin/rvm-exec
/bin/rvm-prompt
/bin/rvm-shell
/bin/rvmsudo
/blog
/books
/design
/desktop_temp
/doc
/gmail-archive.sparsebundle
/media
/misc.sparsebundle
/notes
/papers
/proj
/reference
/screencasts
/share/man
/src
/talks
/var
/work
