[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-makegreen"]
	path = .vim/bundle/vim-makegreen
	url = git@github.com:garybernhardt/vim-makegreen.git
