*.DS_Store
/.CFUserTextEncoding
/.Trash
/.account
/.bash_history
/.bazaar
/.bi_li3
/.bugs_everywhere
/.bundle
/.bzr.log
/.cache
/.certs
/.cups
/.dropbox
/.dvdcss
/.ec2
/.emacs-places
/.emacs.bak
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.freemind
/.gdb_history
/.gem
/.getmail/gmail.log
/.getmail/oldmail-pop.gmail.com-995-gary.bernhardt@gmail.com
/.gnupg
/.god
/.heroku
/.hg.cvsps
/.hgk
/.history
/.history.436tlA
/.hoe_template
/.hudson
/.ipython
/.irb-history
/.irb_history
/.lesshst
/.localized
/.macports
/.mysql_history
/.pip
/.psql_history
/.pypirc
/.python-eggs
/.rnd
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.ssl
/.subversion
/.tox
/.vim-tmp
/.vim/.netrwhist
/.vim-fuf-data
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.viper
/.wireshark
/.wireshark-etc
/.zcompdump
/.Xauthority
/Desktop
/Documents
/Downloads
/Dropbox
/Library/*
!/Library/KeyBindings
!/Library/AppleScripts
/Movies
/Music
/Pictures
/Public
/Sites
/bin/rvm
/bin/rvm-auto-ruby
/bin/rvm-exec
/bin/rvm-prompt
/bin/rvm-shell
/bin/rvmsudo
/blog
/desktop_temp
/doc
/getmail-gmail-archive
/media
/misc.sparsebundle
/proj
/purchases
/reference
/screencasts
/share/man
/src
/talks
/var
/work

*.elc
*~
*.orig
*.rej
*.pyc
