[user]
	name = Gary Bernhardt
	email = gary.bernhardt@gmail.com
[diff]
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	co = checkout
	di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
[merge]
	tool = opendiff
