/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/blog
/desktop_temp
/doc
/kata
/media
/misc.sparsebundle
/proj
/purchases
/src
/talks
/var
/work
/.hudson
/.wireshark
/.wireshark-etc
/.fontconfig

/.CFUserTextEncoding
*.DS_Store
/.Trash
/.bash_history
/.bazaar
/.bundle
/.bi_li3
/.bugs_everywhere
/.bzr.log
/.cache
/.cups
/.djangy
/.dropbox
/.ec2
/.emacs.bak
/.emacs.d
/.emacs-places
/.erlang.cookie
/.fonts
/.freemind
/.gdb_history
/.heroku
/.history.436tlA
/.gem
/.gnupg
/.god
/.history
/.hg.cvsps
/.hgk
/.ipython
/.irb_history
/.lesshst
/.localized
/.macports
/.mysql_history
/.pip
/.psql_history
/.pypirc
/.python-eggs
/.rnd
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.subversion
/.vim-tmp
/.viminfo
/.vim/.netrwhist
/.vimfuzzyfinder
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.eshell
/.viper
/.zcompdump

*.elc
*~
*.orig
*.rej
